body{
  font-size: 25px;
  font-family: 'Lobster', cursive;
  text-align: center;
  padding: 0px;
  clear:both;
  margin:auto;
  background-image: linear-gradient(to right, #FFFFFF, #000000, #FFFFFF);
}
.info {
  width:90%;
  background-color: white;
  margin:auto;
  height: auto;
}
#logo img{
  max-width: 100px;
  height: auto;
  float:left;
}
li #logo{

}
.header{
  color: #ff0000;
  font-family: 'Fjalla One', sans-serif;
  font-size: 25px;
  text-align: center;
  background-color: white;
  overflow: hidden;
  position:fixed;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  top:0;
  height: auto;
  width:90%;
  clear:both;
}
.header ul{
  vertical-align: middle;
  padding:0;
  margin:0;
}
.header li{
  list-style: none;
  width:auto;
  display: inline-block;
  list-style-type: none;
  padding: 10px 2%;

}
.header a{
  padding:0;
  text-decoration: none;
  color:inherit;
  width: 14%;
}
.left a{
}
