.content{
  padding-top: 120px;
  height: 720px;
}
body p{
  margin: 0;
  padding-top: 20px;
  width: 800px;
  margin: auto;
}
#desc p{
  margin:auto;
  padding-bottom: 25px;

}
#desc{
  font-family: 'Libre Franklin', sans-serif;
  text-align: left;
  line-height: 35px;
  padding: 0 95px;
  font-size: 20px;
}
h2{
  font-family: 'Libre Franklin', sans-serif;
  padding:30px;
  padding-bottom: 0px;
  margin:0px;
  text-align: center;
}
